@font-face {
  font-family: bantayog;
  src: url(./Fonts/Bantayog-Regular.otf);
}

@font-face {
  font-family: archive;
  src: url(./Fonts/Archive.otf);
}

@font-face {
  font-family: anonymous-pro;
  src: url(./Fonts/AnonymousPro-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #c5c7cd;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0;
}

.site-title {
  margin-left: 5rem;
}

.site-title img {
  width: 100%;
  height: 100%;
  max-width: 250px;
  padding: 0.5rem 0;
}

.nav ul {
  padding: 0;
  margin: 0;
  font-family: bantayog;
  font-size: 1.7rem;
  list-style: none;
  display: flex;
  gap: 3rem;
  margin-right: 2rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.nav li.active {
  background-color: #868686;
}

.nav li:hover {
  background-color: #565656;
}

.home {
  margin: 0;
}

.background-box {
  background-color: #c5c7cd;
  height: 480px;
  width: 680px;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  border-top-right-radius: 50px;
}

.background-box .slider {
  margin: auto;
  height: 100%;
  width: 100%;
  background-image: url(./images/boy.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: slide 5s infinite ease-in-out;
  animation-direction: alternate-reverse;
}

@keyframes slide {
  0% {
    background-image: url(./images/boy.png);
  }
  50% {
    background-image: url(./images/lady-1.png);
  }
  100% {
    background-image: url(./images/lady-2.png);
  }
}

.home-text {
  position: absolute;
  right: 150px;
  top: 150px;
}

.home-text h1 {
  font-size: 135px;
  font-family: archive;
}

.home-text p {
  font-size: 30px;
  font-family: anonymous-pro;
  position: absolute;
  top: 220px;
  left: 125px;
}

.about {
  margin: auto;
  width: 90%;
}

.about-text p {
  font-family: anonymous-pro;
  font-size: 18px;
  text-align: center;
  line-height: 1.2em;
}

.about-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-image img {
  width: 245px;
}

.top-trends-container {
  display: flex;
  align-items: center;
  margin: 60px;
  background-color: #c5c7cd;
  padding: 30px;
  border-radius: 50px;
}

.top-trends-container img {
  width: 350px;
  border-radius: 25px;
}

.top-trends-container div {
  margin-left: 40px;
}

.top-trends-container div p:first-child {
  font-family: anonymous-pro;
  font-size: 25px;
  font-weight: bold;
}

.top-trends-container div p:last-child {
  font-family: anonymous-pro;
  font-size: 20px;
  text-align: justify;
  line-height: 1.8em;
}

.wardrobe-container {
  height: auto;
  margin: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wardrobe-categories {
  position: absolute;
  width: 15%;
  display: flex;
  top: 90px;
  left: 5px;
}

.wardrobe-categories button {
  background: none;
  border: none;
}

.wardrobe-categories button img {
  cursor: pointer;
  width: 50%;
}

.wardrobe-styles {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
}

.wardrobe-styles button {
  font-size: 2em;
  background: none;
  font-family: archive;
  border: none;
}

button.selected {
  border-bottom: 10px solid #303234;
  border-radius: 10px;
}

.daily-outfit-container {
  margin-top: 2700px;
  width: 105%;
  height: auto;
}

.daily-outfit-container h1 {
  font-size: 3em;
  font-family: archive;
}

.all-days {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.all-days .days-container {
  height: 400px;
  width: 100%;
  background-color: #c5c7cd;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  border: 2px solid #000;
}

.days-container img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.days-container h2 {
  font-family: anonymous-pro;
  margin: 0;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  height: 300px;
  margin: 30px;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50px;
}

.image-container select {
  font-size: 1.2em;
  margin-top: 5px;
  font-family: bantayog;
  text-align: center;
  background-color: #c5c7cd;
  border: none;
}
